<!-- Start footer -->
  <footer id="footer">
      <div class="footer-area">
        <div class="row">
          <div class="col-md-6">
            <div class="footer-left">
              <p class="copy-right">&copy;2019 Copyright <a rel="nofollow" href="#">Cabin&B</a>. All right reserved.</p>
            </div>
           </div>
          <div class="col-md-6">
            <div class="footer-right">
              <div class="social-media">
                <a href="https://www.facebook.com/AirbnbFrance/"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/airbnb/?hl=fr"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-google-plus"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </footer>
<!-- End footer -->
