  <!-- Banner ici les amis -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static1.squarespace.com/static/530abf26e4b091b1a795087c/t/5513311fe4b00dcc4cb10d35/1427321128201/Teak-House-Bathroom2.jpg?format=2500w);">
  <div class="container">
    <h1>The best experience for a<strong> cosy cabin getaway</strong>!</h1>
    <p>The World's Coolest Cabin Rentals.</p>
    <br>
    <a class="btn-cabin" href="#">Book now</a>
  </div>
</div>

  <!-- Les cards -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card-trip">
  <img src="https://images.pexels.com/photos/950058/pexels-photo-950058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>
<div class="card-trip">
    </div>
    <div class="col">
      <div class="card-trip">
  <img src="https://images.pexels.com/photos/950058/pexels-photo-950058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>
<div class="card-trip">
    </div>
    <div class="col">
      <div class="card-trip">
  <img src="https://images.pexels.com/photos/950058/pexels-photo-950058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>
<div class="card-trip">
    </div>
  </div>
</div>


  <!-- Footer -->
  <footer id="myFooter">
      <div class="container">
          <div class="row">
              <div class="col-sm-3">
                  <h5>Get started</h5>
                  <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Sign up</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                  </ul>
              </div>
              <div class="col-sm-3">
                <h5>About us</h5>
                  <ul>
                      <li><a href="#">Company Information</a></li>
                      <li><a href="#">Contact us</a></li>
                      <li><a href="#">Reviews</a></li>
                  </ul>
              </div>
              <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 info">
                    <h5>Information</h5>
                    <p> Lorem ipsum dolor amet, consectetur adipiscing elit. Etiam consectetur aliquet aliquet. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                </div>
            </div>
        </div>
      <div id="footer-bar" class="footer-thin">
      <div class="footer-row--inner" style="padding-top: 25px;padding-bottom: 25px;">
<div class="grid--cols-1 milenia-grid--responsive-xxxl">
<div id="text-3" class="milenia-widget milenia-grid-item widget_text"><div class="milenia-grid-item-inner"><div class="milenia-grid-item-content">      <div class="textwidget"><p>Copyright © 2019 Cabin&B, Hostel &amp; Resort. All Rights Reserved.</p>
</div>
</div></div></div>                                              </div>
</div>
</div>
