 <!-- header welcome -->
<header id="hero">
  <div class="container">

    <div class="hero-area">
      <div class="hero-top" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),">
        <h2>Welcome To Cabin&B </h2>
        <h1>WE PROVIDE ONLY THE BEST EXPERINCE COSY CABIN GETAWAY!</h1>
        <p>The World's Coolest Cabin Rentals.</p>
        <br>
        <a class="btn-cabin" href="#">Book now</a>
        </div>
      </div>
    </div>
  </div>
</header>
 <!-- fin header welcome -->

 <!-- Start main content -->
  <main>
    <!-- Start About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="about-area">
              <!-- Start Feature Content -->
              <div class="row">
                <div class="col-md-6">
                  <div class="about-left">
                    <img class="" src="https://res.cloudinary.com/di985lta5/image/upload/v1550760166/cabin-cold-daylight-355411.jpg" alt="img">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-right">
                    <h2>About Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam aliquam distinctio magni enim error commodi suscipit nobis alias nulla, itaque ex, vitae repellat amet neque est voluptatem iure maxime eius!</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus in accusamus qui sequi nisi, sint magni, ipsam, porro nesciunt id veritatis quaerat ipsum consequatur laborum, provident veniam quibusdam placeat quam?</p>
                  </div>
                </div>
              </div>
              <!-- End Feature Content -->

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About -->

<!-- Start Featured Cabins -->
    <section id="featured-cabins">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="featured-cabins-area">
              <h2>Our best expericences</h2>
              <p class="title-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, officia aut molestiae quod. Veritatis voluptas, possimus. Quae qui optio minus dolorem fugit dolore, cum at, harum omnis sint? Saepe, asperiores.</p>

              <!-- Start Featured cabins content -->
              <div class="featured-cabins-content">
                <div class="row">

                  <div class="col-md-4">
                    <div class="featured-cabins-single">
                      <img src="assets/images/dubai.jpg" alt="img">
                      <div class="featured-cabins-single-info">
                        <h3>Abu Dhabi</h3>
                        <h4> 2 Days, 3 Nights</h4>
                        <span class="price-tag">$650</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quidem earum sed. Sint, magnam eligendi!</p>
                        <a href="#" class="book-now-btn">Book Now</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="featured-cabins-single">
                      <img src="assets/images/thailand.jpg" alt="img">
                      <div class="featured-tours-single-info">
                        <h3>Thailand</h3>
                        <h4> 2 Days, 3 Nights</h4>
                        <span class="price-tag">$845</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quidem earum sed. Sint, magnam eligendi!</p>
                        <a href="#" class="mu-book-now-btn">Book Now</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="mu-featured-tours-single">
                      <img src="assets/images/france.jpg" alt="img">
                      <div class="mu-featured-tours-single-info">
                        <h3>France</h3>
                        <h4> 2 Days, 3 Nights</h4>
                        <span class="mu-price-tag">$450</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quidem earum sed. Sint, magnam eligendi!</p>
                        <a href="#" class="mu-book-now-btn">Book Now</a>
                      </div>
                    </div>
                  </div>
                    <div class="col-md-4">
                    <div class="mu-featured-tours-single">
                      <img src="assets/images/switzerland.jpg" alt="img">
                      <div class="mu-featured-tours-single-info">
                        <h3>Switzerland</h3>
                        <h4> 2 Days, 3 Nights</h4>
                        <span class="mu-price-tag">$1030</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quidem earum sed. Sint, magnam eligendi!</p>
                        <a href="#" class="mu-book-now-btn">Book Now</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="mu-featured-tours-single">
                      <img src="assets/images/italy.jpg" alt="img">
                      <div class="mu-featured-tours-single-info">
                        <h3>Italy</h3>
                        <h4> 2 Days, 3 Nights</h4>
                        <span class="mu-price-tag">$650</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quidem earum sed. Sint, magnam eligendi!</p>
                        <a href="#" class="mu-book-now-btn">Book Now</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="mu-featured-tours-single">
                      <img src="assets/images/england.jpg" alt="img">
                      <div class="mu-featured-tours-single-info">
                        <h3>England</h3>
                        <h4> 2 Days, 3 Nights</h4>
                        <span class="mu-price-tag">$950</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quidem earum sed. Sint, magnam eligendi!</p>
                        <a href="#" class="mu-book-now-btn">Book Now</a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <!-- End Featured Tours content -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Featured Tours -->
  <!-- Les cards -->
<div class="container">
  <div class="row">
    <div class="col">
<div class="card-trip">
    </div>
    <div class="col">
      <div class="card-trip">
  <img src="https://images.pexels.com/photos/950058/pexels-photo-950058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>
<div class="card-trip">
    </div>
    <div class="col">
      <div class="card-trip">
  <img src="https://images.pexels.com/photos/950058/pexels-photo-950058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>
<div class="card-trip">
    </div>
  </div>
</div>
<!-- Fin des cards -->

<!-- Start footer -->
<footer id="footer">
  <div class="container">
    <div class="footer-area">
      <div class="row">
        <div class="col-md-6">
          <div class="footer-left">
            <p class="copy-right">&copy;2019 Copyright <a rel="nofollow" href="#">Cabin&B</a>. All right reserved.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="footer-right">
            <div class="social-media">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-google-plus"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End footer -->
