 <!-- header welcome -->
<header id="hero" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://static1.squarespace.com/static/530abf26e4b091b1a795087c/t/5513311fe4b00dcc4cb10d35/1427321128201/Teak-House-Bathroom2.jpg?format=2500w);">
  <div class="container">

    <div class="hero-area">
      <div class="hero-top">
        <h2>Welcome To Cabin&B </h2>
        <h1>WE PROVIDE ONLY THE BEST EXPERINCE COSY CABIN GETAWAY!</h1>
        <p>The World's Coolest Cabin Rentals.</p>
        <br>
        <a class="btn-cabin" href="#">Book now</a>
        </div>
      </div>
    </div>
  </div>
</header>
 <!-- fin header welcome -->

 <!-- Start main content -->
  <main>
    <!-- Start About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="about-area">
              <!-- Start Feature Content -->
              <div class="row">
                <div class="col-md-6">
                  <div class="about-left">
                    <img class="" src="https://res.cloudinary.com/di985lta5/image/upload/v1550760166/cabin-cold-daylight-355411.jpg" alt="img">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-right">
                    <h2>About Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam aliquam distinctio magni enim error commodi suscipit nobis alias nulla, itaque ex, vitae repellat amet neque est voluptatem iure maxime eius!</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus in accusamus qui sequi nisi, sint magni, ipsam, porro nesciunt id veritatis quaerat ipsum consequatur laborum, provident veniam quibusdam placeat quam?</p>
                  </div>
                </div>
              </div>
              <!-- End Feature Content -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About -->
  </main>

<!-- Start Featured Cabins -->
    <section id="featured-cabins">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="featured-cabins-area">
              <h2>Book the cabin of your dream</h2>
              <p class="title-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, officia aut molestiae quod. Veritatis voluptas, possimus. Quae qui optio minus dolorem fugit dolore, cum at, harum omnis sint? Saepe, asperiores.</p>

              <!-- Start Featured cabins content -->
              <div class="featured-cabins-content">
                <div class="row">

                  <div class="col-md-4">
                    <div class="featured-cabins-single">
                      <img src="https://res.cloudinary.com/di985lta5/image/upload/v1550760161/boathouse-cottage-dock-147411.jpg" alt="img">
                      <div class="featured-cabins-single-info">
                        <h3>San Juan Islands, USA</h3>
                        <h4>Forest House on Orcas</h4>
                        <span class="price-tag">$650</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quidem earum sed. Sint, magnam eligendi!</p>
                        <a href="#" class="book-now-btn">Book Now</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="featured-cabins-single">
                      <img src="https://www.venuereport.com/uploads/cache/report_image_flex/0_BLOG/Q2_June/GreenVillage/TheVenueReport-SunriseHouse-16.jpg" alt="img">
                      <div class="featured-cabins-single-info">
                        <h3>Bali, Indonesia</h3>
                        <h4>Bamboo lodge in rice fields</h4>
                        <span class="price-tag">$845</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quidem earum sed. Sint, magnam eligendi!</p>
                        <a href="#" class="book-now-btn">Book Now</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="featured-cabins-single">
                      <img src="https://res.cloudinary.com/di985lta5/image/upload/v1550768293/japan_resized.jpg">
                      <div class="featured-cabins-single-info">
                        <h3>Nikko, Japan</h3>
                        <h4>Japanese Forest House</h4>
                        <span class="price-tag">$90</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quidem earum sed. Sint, magnam eligendi!</p>
                        <a href="#" class="book-now-btn">Book Now</a>
                      </div>
                    </div>
                  </div>
                    <div class="col-md-4">
                    <div class="featured-cabins-single">
                      <img src="https://res.cloudinary.com/di985lta5/image/upload/v1550768294/tanzania_resized.jpg"alt="img">
                      <div class="featured-cabins-single-info">
                        <h3>Selous Reserve, Tanzania</h3>
                        <h4>The retreat</h4>
                        <span class="price-tag">$120</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quidem earum sed. Sint, magnam eligendi!</p>
                        <a href="#" class="book-now-btn">Book Now</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="featured-cabins-single">
                      <img src="https://res.cloudinary.com/di985lta5/image/upload/v1550769071/fiddan-resized.jpg" alt="img">
                      <div class="featured-cabins-single-info">
                        <h3>Fiddan, Norway</h3>
                        <h4>TreeTop Fiddan</h4>
                        <span class="price-tag">$950</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quidem earum sed. Sint, magnam eligendi!</p>
                        <a href="#" class="book-now-btn">Book Now</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="featured-cabins-single">
                      <img src="https://res.cloudinary.com/di985lta5/image/upload/v1550768299/boathouse-cottage-dock-RESIZED.jpg" alt="img">
                      <div class="featured-cabins-single-info">
                        <h3>Mont-Tremblant, Canada</h3>
                        <h4>Tiny House</h4>
                        <span class="price-tag">$95</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quidem earum sed. Sint, magnam eligendi!</p>
                        <a href="#" class="book-now-btn">Book Now</a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <!-- End Featured Tours content -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Featured Tours -->


<!-- Start Call to Action -->
  <section id="callto-action">
    <div class="container">
      <div class="row col-md-12">
        <div class="callto-action-area">
          <h2>Explore the world by making journey with us</h2>
          <a class="book-now-btn" href="#">Start Journey</a>
        </div>
      </div>
    </div>
  </section>
<!-- Stop Call to Action -->

<!-- Start banner footer -->
<div class="banner_footer">
  <div class="banner_bottom" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/di985lta5/image/upload/v1550760164/blur-close-up-daylight-789382.jpg);">
    <div class="container">
    </div>
  </div>
</div>
<!-- Stop banner footer -->


  <!-- JavaScript -->
  <!-- Ajax contact form  -->
  <script type="text/javascript" src="assets/js/app.js"></script>
