.btn-cabin {
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: bold;
  background: #AB948F;
  transition: background 0.3s ease;
  position: absolute;
  z-index: 100;
}

.btn-cabin:hover {
  opacity: 1;
  background: #70615E;
  text-decoration: none;
  color: white;
}

.menu-btn {
  position: fixed;
  right: 15%;
  top: 50px;
  color: #fff;
  font-size: 25px;
  border: 2px solid #fff;
  padding: 5px 14px;
  z-index: 999;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-btn:hover,
.menu-btn:focus {
  border: 2px solid #fff;
}

.book-now-btn{
  text-color: #434345;
  border: 1px solid #434345;
}

.book-now-btn:hover{

}

.button-header{
  position: relative;
  display: flex;
  justify-content: center;
}
