#callto-action {
  background-size: cover;
  background-color: #AB948F;
  display: inline;
  float: left;
  width: 100%;
  padding: 50px 0;
}

.callto-action-area {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}

.callto-action-area h2 {
  color: #fff;
  font-size: 28px;
  letter-spacing: 0.5px;
}

.callto-action-area .book-now-btn {
  margin-top: 25px;
}
