#footer {
  background-color: #fff;
  display: inline;
  float: left;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
}

.footer-area{
  display: inline;
  float: left;
  padding: 30px 0;
  text-align: center;
  width: 100%;
  background-color: #fff;
  -webkit-background-size: cover;
  background-size: cover;
}

.footer-right {
  display: inline;
  float: left;
  width: 100%;
  background-color: #fff;
  -webkit-background-size: cover;
  background-size: cover;
}

.social-media {
  display: inline;
  float: left;
  width: 100%;
  background-color: #fff;
}

.social-media a {
  border: 1px solid #19191a;
  border-radius: 6px;
  color: #19191a;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  background-color: #fff;
}

.footer-left {
  display: inline;
  float: left;
  width: 100%;
  background-color: #fff;
  background-size: cover;
}

.copy-right {
  margin-bottom: 0;
  margin-top: 6px;
  background-color: #fff;
}

.copy-right a {
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #fff;
}
